/*DELETE REMEMBER*/
#rankingList{
        overflow: hidden;
    height: 100px;
}


/*GENERAL*/
h3{
    font-size: 135%;
}

/*range type container*/
#rangeTypeContainer{
    margin-top: 0px;
}
#rangeTypeContainer select{
    width: 40%;
    float: right;
    display: inline;
}
/*ranking css*/
#rankingList div div p, #rankingList h3 p{
    display: inline;

}

#rankingList h3{
    position: relative;
    min-height: 50px;
    overflow: hidden;

}
.country{
    float: left;
    width: 165px;
    margin-left: 5px;
    margin-right: 5px;

}

.perc{
    float: left;
    width: 25px;
}

/*index chart*/
.strongHighlightFill{
    /*rgb(227, 26, 28)*/
    fill: rgb(227, 26, 28) !important;
}
.strongHighlightStroke{
    stroke: rgb(227, 26, 28)  !important;
}
.strokeGray{
    stroke: #a8a8a8  !important;
}
.fillGray{
    fill: #a8a8a8 !important;
}
.legend {
    font-size: 14px;
    font-weight: bold;
}
/*BLOCK CONTAINERS*/
.marginLeft5{
    margin-left: 5px;
}
.marginTopClearfix{
    margin-top: 15px;
}
.formMargin{
    margin: 50px 10px 20px 20px;
}
#bottom_space{
    height: 100px;
}
#mainContainer{
    width: 1600px;
    margin: 0 auto;
    margin-top: 10px;

}
#rankingContainer{
    width: 320px;
    float: left;
    height: 930px;

}
#index_visualisation{
    width: inherit;
    height: 490px;
}
#infoContainer{
    margin: 10px;
    padding-bottom: 20px;
    text-align: right;

}
#graphContainer{
    width: 1280px;
    margin-left: 330px;
    /*height: 900px;*/
}
#mapContainer{
    height: 600px;
    margin-bottom:10px;
    overflow: hidden;
}
#indexContainer{
    /*height: 500px;*/
    width: 1280px;
}
.blackBorder{
    border-width:1px;
    border-style:solid;
    border-color: #2b2d2f;
}
#rankingTitle{
    text-align: center;
    background-color: #31b0d5;
    padding: 15px 0 15px 0;
}

/*RANKING LIST SECTION*/
#rankingContainer ul{
    list-style-type: none;
    margin-top: 15px;
    width: 100%;
}
li img{
    width: 25px;
    height: 25px;
    float: right;
}
li{
    padding-left: 20px;
    padding-bottom: 5px;
    overflow: auto;
}
li p{

}
li h3{

}
li img{

}
li:hover{

}


/*Set square colors to the ranges*/
.ranges{
    margin-top: 15px;
}
.rangeSector{
    display: inline-block;
    width: 50%;

}
.rangeSector [id^=class]{
    float: right;
}
.rangeSector #class1Color{
    float: left;
    background-image: url("../img/color-range.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 25px;
    height: 25px;
}
.rangeSector #class2Color{
    float: left;
    background-image: url("../img/color-range.png");
    background-repeat: no-repeat;
    background-position: -25px 0px;
    width: 25px;
    height: 25px;
}
.rangeSector #class3Color{
    float: left;
    background-image: url("../img/color-range.png");
    background-repeat: no-repeat;
    background-position: -50px 0px;
    width: 25px;
    height: 25px;
}
.rangeSector #class4Color{
    float: left;
    background-image: url("../img/color-range.png");
    background-repeat: no-repeat;
    background-position: -75px 0px;
    width: 25px;
    height: 25px;
}
.rangeSector #class5Color{
    float: left;
    background-image: url("../img/color-range.png");
    background-repeat: no-repeat;
    background-position: -100px 0px;
    width: 25px;
    height: 25px;
}
.rangeSector #class6Color{
    float: left;
    background-image: url("../img/color-range.png");
    background-repeat: no-repeat;
    background-position: -150px 0px;
    width: 25px;
    height: 25px;
}
.rangeSector #class7Color{
    float: left;
    background-image: url("../img/color-range.png");
    background-repeat: no-repeat;
    background-position: -125px 0px;
    width: 25px;
    height: 25px;
}


/*inde chart */
[class^=axis] path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
[class^=axis] text {
    font-family: Lato;
    font-size: 13px;
}




















